body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.rubrik {
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: system-ui;
  color: black;
}
p {
font-size: 20px;
font-family: system-ui;
}
.forsta {
  margin-top: 150px;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: system-ui;
  color: black;
}
.inputsection{
  width: 400px;
  height: 100px;
  margin: 80px;
  margin-bottom: 10px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  width: 400px;
  height: 40px;
  font-family: system-ui;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: lighter;
  border: 2px solid #4CAF50; /* Green */
}

.addoption{
  margin-top: 10px;
}

.resultsection{
  height: 300px;
  display: flex;
  align-items: center;
  font-size: 35px;
}
.submit-btn {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

.bransch {
  margin-top: 50px;
  margin-bottom: 50px;
}

th, td {
  height: 50 px;
  text-align: left;
  padding-top: 30 px;
  font-family: system-ui;
  font-size: 15px;
  letter-spacing: 2px;
}
td {
  font-weight: lighter;
}
table {
  align: center;
}

body, html {
    height: 100%;
}
