.dropdown-toggle{
color: black;
}
.rubrik {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: system-ui;
  color: black;
}
p {
font-size: 20px;
font-family: system-ui;
color: black;
}
.undertext{
margin-bottom: 100px;
color: black;
font-weight: lighter;
font-family: system-ui;
}
.inputsection{
  width: 400px;
  height: 100px;
  margin: 80px;
  margin-bottom: 50px;
 margin-top: 100px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  width: 400px;
  height: 40px;
  font-family: system-ui;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: lighter;
  border: 2px solid #4CAF50; /* Green */
}
.container {
margin-top: 320px;
}
.blockone {
background-color: #ffffff73;
}
.companyname {
font-weight: bolder;
margin-top: 200px;
}

.btn-secondary {
margin-top: 20px;
}
.knapp{
padding-top: 15px;
}
.compare {
padding-bottom: 20px;
margin-left: 30px;
}

body {
  background-image: url("tree.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height: 100%;
}
.resultblock{
padding-bottom: 80px;
padding-top: 60px;
}
